@use "../global.scss";

#nav {
  .c-navbar {
    width: 100%;
    height: 92px;
    background: #1c1e53;
    position: fixed;
    z-index: 20;
    .nav__container {
      display: flex;
      justify-content: space-between;
      .nav__cont--left {
        margin-top: 30px;
      }
      .nav__cont--right {
        margin-top: 16px;
        display: flex;
        align-items: center;
        .navbar--ul {
          display: flex;
          padding-top: 15px;
          column-gap: 40px;
          li {
            a {
              font-weight: 500;
              font-size: 16px;
              line-height: 28px;
              color: #bbbbcb;
              &:hover {
                transition: 0.3s;
                color: #fff;
              }
            }
          }
        }
        a {
          button {
            width: 185px;
            height: 60px;
            margin-left: 40px;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: #bbbbcb;
            background: transparent;
            border: 1px solid #bbbbcb;
            border-radius: 50px;
            &:hover {
              color: #fff;
              background: #23255a;
              transition: 0.3s;
            }
          }
        }
      }
      #navbar-open {
        display: none;
        width: 40px;
        height: 40px;
        margin-top: 25px;
        font-size: 22px;
        color: #bbbbcb;
        background: transparent;
        border: 1px solid #bbbbcb;
        border-radius: 50%;
        &:hover {
          color: #fff;
          background: #23255a;
          transition: 0.3s;
        }
      }
    }
  }
  #navbar-responsive {
    display: none;
  }
}

// main

#portfolio {
  background-color: #f4f6fc;
  padding: 188px 0px 96px 0px;
  .portfolio__container {
    .p5 {
      margin: 0;
      padding-bottom: 4px;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      color: #282938;
      opacity: 0.7;
    }
    h1 {
      margin: 0;
      padding-bottom: 24px;
      font-weight: 600;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      color: #282938;
    }
    .p6 {
      margin: 0;
      padding-bottom: 32px;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      color: #282938;
      opacity: 0.7;
    }
    .portfolio--img {
      display: flex;
      justify-content: center;
      column-gap: 25px;
      a {
        i {
          font-size: 20px;
          color: black;
        }
      }
    }
  }
}

#portfolio-cards {
  padding: 96px 0px 128px 0px;
  .portfolio-cards__container {
    .portfoli-cards__title {
      margin-bottom: 48px;
      ul {
        display: flex;
        column-gap: 32px;
        justify-content: center;
        li {
          a {
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #282938;
            opacity: 0.7;
            &:hover {
              transition: 0.3s;
              color: #2405f2;
            }
          }
        }
      }
    }
    .p__cards {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-column-gap: 34px;
      .p--card {
        width: 100%;
        margin-bottom: 64px;
        .p--card--img {
          margin-bottom: 24px;
          img {
            width: 100%;
          }
        }
        .card--title {
          h2 {
            margin: 0;
            padding-bottom: 12px;
            font-weight: 600;
            font-size: 38px;
            line-height: 56px;
            color: #282938;
          }
          .p7 {
            margin: 0;
            padding-bottom: 24px;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            text-align: justify;
            color: #282938;
            opacity: 0.7;
          }
          .p8 {
            margin: 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #282938;
          }
        }
      }
    }
    .perexod-c {
      padding-top: 64px;
      h2 {
        margin: 0;
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: #282938;
      }
      p {
        margin: 0;
        padding-bottom: 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #282938;
        opacity: 0.7;
      }
      .portfolio--button {
        display: grid;
        justify-content: center;
        button {
          width: 230px;
          height: 64px;
          font-weight: 600;
          font-size: 18px;
          line-height: 32px;
          color: #1b1c2b;
          background: #fcd980;
          border: none;
          border-radius: 41px;
          &:hover {
            transition: 0.3s;
            background: #fde4a6;
          }
        }
      }
    }
  }
}

// footer

#footer {
  padding: 96px 0px 92px 0px;
  background-color: #1c1e53;
  .footer__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    .footer__cont--left {
      .footer__cont--left--logo {
        margin-bottom: 24px;
      }
      .footer__cont--left--title {
        margin-bottom: 86px;
        p {
          margin: 0;
          font-weight: 500;
          font-size: 16px;
          line-height: 28px;
          color: #ffffff;
          opacity: 0.8;
        }
      }
      .footer__cont--left--card {
        display: flex;
        column-gap: 29px;
        width: 517px;
        // height: 95px;
        padding: 18px 0px 16px 37px;
        background: #fcd980;
        .footer--card {
          h6 {
            margin-bottom: 0px;
            padding-bottom: 1px;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #282938;
          }
          p {
            margin-bottom: 0px;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #282938;
            opacity: 0.8;
          }
        }
      }
    }
    .footer__cont--right {
      .footer__cont--right--title {
        margin-bottom: 14px;
        h2 {
          margin: 0;
          font-weight: 600;
          font-size: 48px;
          line-height: 64px;
          color: #ffffff;
        }
      }
      .footer__cont--right--p {
        margin-bottom: 28px;
        p {
          margin: 0;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          color: #f4f6fc;
          opacity: 0.8;
        }
      }
      .footer__cont--right--img {
        display: flex;
        column-gap: 25px;
        a {
          i {
            font-size: 20px;
            color: #fff;
          }
        }
      }
    }
  }
}

// media

@media (max-width: 1285px) {
  #portfolio-cards {
    .portfolio-cards__container {
      .p__cards {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        .p--card {
          .p--card--img {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1070px) {
  #footer {
    .footer__container {
      display: grid;
      grid-template-columns: auto;
      grid-row-gap: 30px;
      .footer__cont--left {
        .footer__cont--left--title {
          text-align: center;
        }
        .footer-cards {
          display: grid;
          justify-content: center;
        }
      }
      .footer__cont--right {
        .footer__cont--right--title {
          h2 {
            text-align: center;
          }
        }
        .footer__cont--right--p {
          p {
            text-align: center;
          }
        }
        .footer__cont--right--img {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #nav {
    .c-navbar {
      .nav__container {
        .nav__cont--right {
          display: none;
        }
        #navbar-open {
          display: block;
        }
      }
    }
    #navbar-responsive {
      display: block;
      position: fixed;
      top: 92px;
      bottom: 0;
      left: -100%;
      height: 60vh;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #ddd;
      transition: 0.5s;
      z-index: 10;
      .nav__cont--right {
        position: relative;
        .navbar--ul {
          display: grid;
          justify-content: center;
          li {
            padding-top: 10px;
            a {
              text-align: center;
              font-weight: 500;
              font-size: 16px;
              line-height: 28px;
              color: #1c1e53;
              &:hover {
                transition: 0.3s;
                color: #fff;
              }
            }
          }
        }
        .button-- {
          display: grid;
          justify-content: center;
          a {
            button {
              width: 185px;
              height: 60px;
              font-weight: 500;
              font-size: 16px;
              line-height: 28px;
              color: #fff;
              background: #1c1e53;
              border: 1px solid #bbbbcb;
              border-radius: 50px;
              &:hover {
                color: #1c1e53;
                background: transparent;
                transition: 0.3s;
              }
            }
          }
        }
        #navbar-close {
          position: absolute;
          top: 0;
          right: 20px;
          width: 40px;
          height: 40px;
          margin-top: 10px;
          font-size: 22px;
          color: #fff;
          background: #1c1e53;
          border: 1px solid #1c1e53;
          border-radius: 50%;
          &:hover {
            border: 1px solid #bbbbcb;
            color: #1c1e53;
            background: transparent;
            transition: 0.3s;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #footer {
    .footer__container {
      .footer__cont--left {
        .footer-cards {
          .footer__cont--left--card {
            width: 100%;
            display: grid;
            padding-right: 37px;
          }
        }
      }
    }
  }
}

@media (max-width: 560px) {
  #portfolio-cards {
    .portfolio-cards__container {
      .portfoli-cards__title {
        ul {
          display: grid;
          li {
            text-align: center;
          }
        }
      }
    }
  }
}
