@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input:focus {
  outline: none;
}

#nav .c-navbar {
  width: 100%;
  height: 92px;
  background: #1c1e53;
  position: fixed;
  z-index: 20;
}
#nav .c-navbar .nav__container {
  display: flex;
  justify-content: space-between;
}
#nav .c-navbar .nav__container .nav__cont--left {
  margin-top: 30px;
}
#nav .c-navbar .nav__container .nav__cont--right {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
#nav .c-navbar .nav__container .nav__cont--right .navbar--ul {
  display: flex;
  padding-top: 15px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
#nav .c-navbar .nav__container .nav__cont--right .navbar--ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #bbbbcb;
}
#nav .c-navbar .nav__container .nav__cont--right .navbar--ul li a:hover {
  transition: 0.3s;
  color: #fff;
}
#nav .c-navbar .nav__container .nav__cont--right a button {
  width: 185px;
  height: 60px;
  margin-left: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #bbbbcb;
  background: transparent;
  border: 1px solid #bbbbcb;
  border-radius: 50px;
}
#nav .c-navbar .nav__container .nav__cont--right a button:hover {
  color: #fff;
  background: #23255a;
  transition: 0.3s;
}
#nav .c-navbar .nav__container #navbar-open {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 25px;
  font-size: 22px;
  color: #bbbbcb;
  background: transparent;
  border: 1px solid #bbbbcb;
  border-radius: 50%;
}
#nav .c-navbar .nav__container #navbar-open:hover {
  color: #fff;
  background: #23255a;
  transition: 0.3s;
}
#nav #navbar-responsive {
  display: none;
}

#solve {
  padding: 220px 0px 128px 0px;
}
#solve .solve__container .solve__cont--top {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 47px;
  align-items: center;
  margin-bottom: 128px;
}
#solve .solve__container .solve__cont--top .solve__cont--top--left h6 {
  margin: 0;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
}
#solve .solve__container .solve__cont--top .solve__cont--top--left h2 {
  margin: 0;
  padding-bottom: 31px;
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  color: #282938;
}
#solve .solve__container .solve__cont--top .solve__cont--top--left p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  color: #282938;
  opacity: 0.7;
}
#solve .solve__container .solve__cont--bottom {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 100%;
  background: #f4f5f5;
  padding: 96px 80px 96px 80px;
}
#solve .solve__container .solve__cont--bottom .solve__cont--bottom--left h3 {
  margin: 0;
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #282938;
}
#solve .solve__container .solve__cont--bottom .solve__cont--bottom--left p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
}
#solve .solve__container .solve--img img {
  width: 100%;
}

#solve-cards {
  background: #f4f6fc;
  padding: 128px 0px 128px 0px;
}
#solve-cards .solve-cards__container .solve-cards__cont--top {
  margin-bottom: 48px;
}
#solve-cards .solve-cards__container .solve-cards__cont--top h2 {
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #282938;
}
#solve-cards .solve-cards__container .solve-cards__cont--bottom {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 32px;
}
#solve-cards .solve-cards__container .solve-cards__cont--bottom .bottom--card {
  width: 296px;
  height: 344px;
  padding: 48px 64px 32px 64px;
  background: #fff;
  cursor: pointer;
}
#solve-cards .solve-cards__container .solve-cards__cont--bottom .bottom--card .card--page {
  margin-bottom: 30px;
}
#solve-cards .solve-cards__container .solve-cards__cont--bottom .bottom--card .card--page img {
  position: relative;
}
#solve-cards .solve-cards__container .solve-cards__cont--bottom .bottom--card .card--page img:hover .hover {
  background: url(../../images/about/Socials.svg);
  opacity: 1;
}
#solve-cards .solve-cards__container .solve-cards__cont--bottom .bottom--card .hover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  z-index: 10;
}
#solve-cards .solve-cards__container .solve-cards__cont--bottom .bottom--card .hover i {
  color: blue;
}
#solve-cards .solve-cards__container .solve-cards__cont--bottom .bottom--card .card--title h6 {
  margin: 0;
  padding-bottom: 2px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  white-space: nowrap;
  color: #1d2130;
}
#solve-cards .solve-cards__container .solve-cards__cont--bottom .bottom--card .card--title p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #1d2130;
  opacity: 0.7;
}

#footer {
  padding: 96px 0px 92px 0px;
  background-color: #1c1e53;
}
#footer .footer__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
#footer .footer__container .footer__cont--left .footer__cont--left--logo {
  margin-bottom: 24px;
}
#footer .footer__container .footer__cont--left .footer__cont--left--title {
  margin-bottom: 86px;
}
#footer .footer__container .footer__cont--left .footer__cont--left--title p {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  opacity: 0.8;
}
#footer .footer__container .footer__cont--left .footer__cont--left--card {
  display: flex;
  -moz-column-gap: 29px;
       column-gap: 29px;
  width: 517px;
  padding: 18px 0px 16px 37px;
  background: #fcd980;
}
#footer .footer__container .footer__cont--left .footer__cont--left--card .footer--card h6 {
  margin-bottom: 0px;
  padding-bottom: 1px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
}
#footer .footer__container .footer__cont--left .footer__cont--left--card .footer--card p {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.8;
}
#footer .footer__container .footer__cont--right .footer__cont--right--title {
  margin-bottom: 14px;
}
#footer .footer__container .footer__cont--right .footer__cont--right--title h2 {
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
}
#footer .footer__container .footer__cont--right .footer__cont--right--p {
  margin-bottom: 28px;
}
#footer .footer__container .footer__cont--right .footer__cont--right--p p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #f4f6fc;
  opacity: 0.8;
}
#footer .footer__container .footer__cont--right .footer__cont--right--img {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
#footer .footer__container .footer__cont--right .footer__cont--right--img a i {
  font-size: 20px;
  color: #fff;
}

@media (max-width: 1285px) {
  #solve-cards .solve-cards__container .solve-cards__cont--bottom {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
  }
  #solve-cards .solve-cards__container .solve-cards__cont--bottom .bottom--card {
    margin-bottom: 32px;
  }
}
@media (max-width: 1222px) {
  #solve .solve__container .solve__cont--top {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 20px;
  }
  #solve .solve__container .solve__cont--top .solve__cont--top--left h6 {
    text-align: center;
  }
  #solve .solve__container .solve__cont--top .solve__cont--top--left h2 {
    text-align: center;
  }
  #solve .solve__container .solve__cont--top .solve__cont--top--left p {
    text-align: center;
  }
  #solve .solve__container .solve__cont--top .solve__cont--top--right {
    width: 100%;
  }
  #solve .solve__container .solve__cont--top .solve__cont--top--right img {
    width: 100%;
  }
  #solve .solve__container .solve__cont--bottom {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 20px;
  }
  #solve .solve__container .solve__cont--bottom .solve__cont--bottom--left h3 {
    text-align: center;
  }
  #solve .solve__container .solve__cont--bottom .solve__cont--bottom--left p {
    text-align: center;
  }
}
@media (max-width: 1070px) {
  #footer .footer__container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 30px;
  }
  #footer .footer__container .footer__cont--left .footer__cont--left--title {
    text-align: center;
  }
  #footer .footer__container .footer__cont--left .footer-cards {
    display: grid;
    justify-content: center;
  }
  #footer .footer__container .footer__cont--right .footer__cont--right--title h2 {
    text-align: center;
  }
  #footer .footer__container .footer__cont--right .footer__cont--right--p p {
    text-align: center;
  }
  #footer .footer__container .footer__cont--right .footer__cont--right--img {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1015px) {
  #solve-cards .solve-cards__container .solve-cards__cont--bottom {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }
}
@media (max-width: 992px) {
  #nav .c-navbar .nav__container .nav__cont--right {
    display: none;
  }
  #nav .c-navbar .nav__container #navbar-open {
    display: block;
  }
  #nav #navbar-responsive {
    display: block;
    position: fixed;
    top: 92px;
    bottom: 0;
    left: -100%;
    height: 60vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    transition: 0.5s;
    z-index: 10;
  }
  #nav #navbar-responsive .nav__cont--right {
    position: relative;
  }
  #nav #navbar-responsive .nav__cont--right .navbar--ul {
    display: grid;
    justify-content: center;
  }
  #nav #navbar-responsive .nav__cont--right .navbar--ul li {
    padding-top: 10px;
  }
  #nav #navbar-responsive .nav__cont--right .navbar--ul li a {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #1c1e53;
  }
  #nav #navbar-responsive .nav__cont--right .navbar--ul li a:hover {
    transition: 0.3s;
    color: #fff;
  }
  #nav #navbar-responsive .nav__cont--right .button-- {
    display: grid;
    justify-content: center;
  }
  #nav #navbar-responsive .nav__cont--right .button-- a button {
    width: 185px;
    height: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    background: #1c1e53;
    border: 1px solid #bbbbcb;
    border-radius: 50px;
  }
  #nav #navbar-responsive .nav__cont--right .button-- a button:hover {
    color: #1c1e53;
    background: transparent;
    transition: 0.3s;
  }
  #nav #navbar-responsive .nav__cont--right #navbar-close {
    position: absolute;
    top: 0;
    right: 20px;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    font-size: 22px;
    color: #fff;
    background: #1c1e53;
    border: 1px solid #1c1e53;
    border-radius: 50%;
  }
  #nav #navbar-responsive .nav__cont--right #navbar-close:hover {
    border: 1px solid #bbbbcb;
    color: #1c1e53;
    background: transparent;
    transition: 0.3s;
  }
}
@media (max-width: 576px) {
  #footer .footer__container .footer__cont--left .footer-cards .footer__cont--left--card {
    width: 100%;
    display: grid;
    padding-right: 37px;
  }
}
@media (max-width: 680px) {
  #solve-cards .solve-cards__container .solve-cards__cont--bottom {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
}
@media (max-width: 490px) {
  #solve .solve__container .solve__cont--bottom {
    padding: 20px;
  }
  #solve .solve__container .solve__cont--bottom .solve__cont--bottom--left h3 {
    font-size: 30px;
  }
  #solve .solve__container .solve__cont--bottom .solve__cont--bottom--left p {
    font-size: 14px;
  }
}