@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input:focus {
  outline: none;
}

#nav .c-navbar {
  width: 100%;
  height: 92px;
  background: #1c1e53;
  position: fixed;
  z-index: 20;
}
#nav .c-navbar .nav__container {
  display: flex;
  justify-content: space-between;
}
#nav .c-navbar .nav__container .nav__cont--left {
  margin-top: 30px;
}
#nav .c-navbar .nav__container .nav__cont--right {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
#nav .c-navbar .nav__container .nav__cont--right .navbar--ul {
  display: flex;
  padding-top: 15px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
#nav .c-navbar .nav__container .nav__cont--right .navbar--ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #bbbbcb;
}
#nav .c-navbar .nav__container .nav__cont--right .navbar--ul li a:hover {
  transition: 0.3s;
  color: #fff;
}
#nav .c-navbar .nav__container .nav__cont--right a button {
  width: 185px;
  height: 60px;
  margin-left: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #bbbbcb;
  background: transparent;
  border: 1px solid #bbbbcb;
  border-radius: 50px;
}
#nav .c-navbar .nav__container .nav__cont--right a button:hover {
  color: #fff;
  background: #23255a;
  transition: 0.3s;
}
#nav .c-navbar .nav__container #navbar-open {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 25px;
  font-size: 22px;
  color: #bbbbcb;
  background: transparent;
  border: 1px solid #bbbbcb;
  border-radius: 50%;
}
#nav .c-navbar .nav__container #navbar-open:hover {
  color: #fff;
  background: #23255a;
  transition: 0.3s;
}
#nav #navbar-responsive {
  display: none;
}

#students {
  padding: 220px 0px 128px 0px;
}
#students .students__container .students__cont--top {
  margin-bottom: 32px;
}
#students .students__container .students__cont--top h1 {
  margin: 0;
  padding-bottom: 16px;
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #282938;
}
#students .students__container .students__cont--top p {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
}
#students .students__container .students__cont--center {
  margin-bottom: 48px;
}
#students .students__container .students__cont--center img {
  width: 100%;
}
#students .students__container .students__cont--bottom .p1 {
  margin: 0;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #282938;
  opacity: 0.7;
}
#students .students__container .students__cont--bottom .p2 {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #2405f2;
  opacity: 0.7;
}

#blog {
  padding: 0px 0px 128px 0px;
}
#blog .blog__container .blog__cont--title {
  margin-bottom: 48px;
}
#blog .blog__container .blog__cont--title h2 {
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938;
}
#blog .blog__container .blog__cont--cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 32px;
}
#blog .blog__container .blog__cont--cards .blog--card {
  width: 405px;
  margin-bottom: 64px;
}
#blog .blog__container .blog__cont--cards .blog--card .card--img {
  margin-bottom: 32px;
}
#blog .blog__container .blog__cont--cards .blog--card .card--img img {
  width: 100%;
}
#blog .blog__container .blog__cont--cards .blog--card .card--title .p3 {
  margin: 0;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
}
#blog .blog__container .blog__cont--cards .blog--card .card--title h5 {
  margin: 0;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #282938;
}
#blog .blog__container .blog__cont--cards .blog--card .card--title .p4 {
  margin: 0;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
}
#blog .blog__container .blog__cont--cards .blog--card .perexod h6 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #1c1e53;
}

#footer {
  padding: 96px 0px 92px 0px;
  background-color: #1c1e53;
}
#footer .footer__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
#footer .footer__container .footer__cont--left .footer__cont--left--logo {
  margin-bottom: 24px;
}
#footer .footer__container .footer__cont--left .footer__cont--left--title {
  margin-bottom: 86px;
}
#footer .footer__container .footer__cont--left .footer__cont--left--title p {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  opacity: 0.8;
}
#footer .footer__container .footer__cont--left .footer__cont--left--card {
  display: flex;
  -moz-column-gap: 29px;
       column-gap: 29px;
  width: 517px;
  padding: 18px 0px 16px 37px;
  background: #fcd980;
}
#footer .footer__container .footer__cont--left .footer__cont--left--card .footer--card h6 {
  margin-bottom: 0px;
  padding-bottom: 1px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
}
#footer .footer__container .footer__cont--left .footer__cont--left--card .footer--card p {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.8;
}
#footer .footer__container .footer__cont--right .footer__cont--right--title {
  margin-bottom: 14px;
}
#footer .footer__container .footer__cont--right .footer__cont--right--title h2 {
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
}
#footer .footer__container .footer__cont--right .footer__cont--right--p {
  margin-bottom: 28px;
}
#footer .footer__container .footer__cont--right .footer__cont--right--p p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #f4f6fc;
  opacity: 0.8;
}
#footer .footer__container .footer__cont--right .footer__cont--right--img {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
#footer .footer__container .footer__cont--right .footer__cont--right--img a i {
  font-size: 20px;
  color: #fff;
}

@media (max-width: 1285px) {
  #blog .blog__container .blog__cont--cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }
}
@media (max-width: 1070px) {
  #footer .footer__container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 30px;
  }
  #footer .footer__container .footer__cont--left .footer__cont--left--title {
    text-align: center;
  }
  #footer .footer__container .footer__cont--left .footer-cards {
    display: grid;
    justify-content: center;
  }
  #footer .footer__container .footer__cont--right .footer__cont--right--title h2 {
    text-align: center;
  }
  #footer .footer__container .footer__cont--right .footer__cont--right--p p {
    text-align: center;
  }
  #footer .footer__container .footer__cont--right .footer__cont--right--img {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  #nav .c-navbar .nav__container .nav__cont--right {
    display: none;
  }
  #nav .c-navbar .nav__container #navbar-open {
    display: block;
  }
  #nav #navbar-responsive {
    display: block;
    position: fixed;
    top: 92px;
    bottom: 0;
    left: -100%;
    height: 60vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    transition: 0.5s;
    z-index: 10;
  }
  #nav #navbar-responsive .nav__cont--right {
    position: relative;
  }
  #nav #navbar-responsive .nav__cont--right .navbar--ul {
    display: grid;
    justify-content: center;
  }
  #nav #navbar-responsive .nav__cont--right .navbar--ul li {
    padding-top: 10px;
  }
  #nav #navbar-responsive .nav__cont--right .navbar--ul li a {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #1c1e53;
  }
  #nav #navbar-responsive .nav__cont--right .navbar--ul li a:hover {
    transition: 0.3s;
    color: #fff;
  }
  #nav #navbar-responsive .nav__cont--right .button-- {
    display: grid;
    justify-content: center;
  }
  #nav #navbar-responsive .nav__cont--right .button-- a button {
    width: 185px;
    height: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    background: #1c1e53;
    border: 1px solid #bbbbcb;
    border-radius: 50px;
  }
  #nav #navbar-responsive .nav__cont--right .button-- a button:hover {
    color: #1c1e53;
    background: transparent;
    transition: 0.3s;
  }
  #nav #navbar-responsive .nav__cont--right #navbar-close {
    position: absolute;
    top: 0;
    right: 20px;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    font-size: 22px;
    color: #fff;
    background: #1c1e53;
    border: 1px solid #1c1e53;
    border-radius: 50%;
  }
  #nav #navbar-responsive .nav__cont--right #navbar-close:hover {
    border: 1px solid #bbbbcb;
    color: #1c1e53;
    background: transparent;
    transition: 0.3s;
  }
}
@media (max-width: 905px) {
  #blog .blog__container .blog__cont--cards {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  #blog .blog__container .blog__cont--cards .blog--card {
    width: 100%;
  }
}
@media (max-width: 576px) {
  #footer .footer__container .footer__cont--left .footer-cards .footer__cont--left--card {
    width: 100%;
    display: grid;
    padding-right: 37px;
  }
}
@media (max-width: 400px) {
  #blog .blog__container .blog__cont--cards .blog--card .card--title h5 {
    font-size: 20px;
  }
  #blog .blog__container .blog__cont--cards .blog--card .card--title .p4 {
    font-size: 14px;
  }
}
@media (max-width: 352px) {
  #blog .blog__container .blog__cont--cards .blog--card .card--title h5 {
    font-size: 18px;
  }
  #blog .blog__container .blog__cont--cards .blog--card .card--title .p4 {
    font-size: 13px;
  }
}